[Desktop Entry]
Type=Application
Version=1.0
Name=Tuxman
Comment=Hangman For Linux
Terminal=true
Exec=/usr/bin/tuxman %f
Icon=/usr/share/tuxman/tuxman_logo.png
Categories=Game;
