[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tuxman
Comment=Hangman For Linux
Exec=/home/cadenm/Documents/Code/Tuxman/Tuxman %f
Icon=/home/cadenm/Documents/Code/Tuxman/Tuxman.png
Terminal=false
Categories=Game;
